@media (max-width: 1300px) and (min-width: 992px) {
  .navbar-collapse {
    gap: 2rem;
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .navbar-collapse {
    gap: 1rem;
  }
}

@media (max-width: 1000px) and (min-width: 992px) {
  .navbar-collapse {
    gap: 0.7rem;
  }

  .me-3 {
    margin-right: 0.5rem !important;
  }
}

@media (max-width: 1140px) and (min-width: 992px) {
  .nav-link {
    padding: 1rem 0.3rem !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1150px;
  }
}

.navbar-collapse {
  flex-grow: 0;
}
